In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Miguel Hidalgo,MX,2021-05-29 19:21:19,19.4225,-99.2028,85.93,32,20,7.00
1,1,Cape Town,ZA,2021-05-29 19:20:15,-33.9258,18.4232,60.28,87,40,1.01
2,2,Gympie,AU,2021-05-29 19:21:39,-26.1898,152.6650,49.84,73,100,3.22
3,3,Beni,CD,2021-05-29 19:20:48,0.5000,29.4667,64.58,90,22,2.33
4,4,Carnarvon,AU,2021-05-29 19:24:19,-24.8667,113.6333,60.87,94,40,5.75

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Miguel Hidalgo,MX,2021-05-29 19:21:19,19.4225,-99.2028,85.93,32,20,7.00
12,12,Vung Tau,VN,2021-05-29 19:24:22,10.3460,107.0843,82.24,81,58,9.22
16,16,Korla,CN,2021-05-29 19:24:23,41.7597,86.1469,76.03,31,100,20.58
18,18,Cedar City,US,2021-05-29 19:24:24,37.6775,-113.0619,77.40,15,1,5.75
28,28,Muisne,EC,2021-05-29 19:24:28,0.6000,-80.0333,84.31,80,88,8.81
30,30,Rikitea,PF,2021-05-29 19:24:29,-23.1203,-134.9692,77.05,86,100,19.75
32,32,San Patricio,US,2021-05-29 19:24:30,28.0170,-97.5169,80.58,68,72,6.33
34,34,Torbat-E Jam,IR,2021-05-29 19:24:30,35.2440,60.6225,83.30,15,0,6.46
35,35,Mattru,SL,2021-05-29 19:24:31,7.6244,-11.8332,79.16,89,85,5.41
36,36,Hilo,US,2021-05-29 19:24:31,19.7297,-155.0900,79.79,72,1,3.44

In [10]:
preferred_cities_df.count()

City_ID       175
City          175
Country       175
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0   Miguel Hidalgo      MX     85.93  19.4225  -99.2028
12        Vung Tau      VN     82.24  10.3460  107.0843
16           Korla      CN     76.03  41.7597   86.1469
18      Cedar City      US     77.40  37.6775 -113.0619
28          Muisne      EC     84.31   0.6000  -80.0333
30         Rikitea      PF     77.05 -23.1203 -134.9692
32    San Patricio      US     80.58  28.0170  -97.5169
34    Torbat-E Jam      IR     83.30  35.2440   60.6225
35          Mattru      SL     79.16   7.6244  -11.8332
36            Hilo      US     79.79  19.7297 -155.0900

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Miguel Hidalgo,MX,85.93,19.4225,-99.2028,JW Marriott Hotel Mexico City
12,Vung Tau,VN,82.24,10.3460,107.0843,Green hotel
16,Korla,CN,76.03,41.7597,86.1469,Gulisitan Hotel
18,Cedar City,US,77.40,37.6775,-113.0619,Hampton Inn Cedar City
28,Muisne,EC,84.31,0.6000,-80.0333,Quinta Samay
30,Rikitea,PF,77.05,-23.1203,-134.9692,Pension Maro'i
32,San Patricio,US,80.58,28.0170,-97.5169,"Motel 6 Sinton, TX"
34,Torbat-E Jam,IR,83.30,35.2440,60.6225,White building
35,Mattru,SL,79.16,7.6244,-11.8332,"Mondkor Town, Bagbo Chiefdom, Bo District"
36,Hilo,US,79.79,19.7297,-155.0900,Hilo Hawaiian Hotel

In [14]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))